.hero {
    background-image: url(./bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
  
  }
.heroDiv {
    border: 1px solid red;
    width:100%;
    display: flex;
    justify-content: center;
  }